$brandColor: linear-gradient(to top, #01012f , #0b1953);
$fullWidth: 100%;
$fullHeight: 100%;
$height65: 80%;
$buttonPrimary: linear-gradient(to right, #03a5d1 , #1f3e83);
$buttonSecond: linear-gradient(to right, #f65760 , #af2262);
$font: 'Roboto', sans-serif;
